header {
  background: black;
}

header p.fullname {
  font-family: Cuprum;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  color: #EE3643;
}

header .small {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #FFFFFF;
}

header .order {
  width: 150px;
  height: 42px;
  background-color: #63A63E;
  text-align: center;
}
