.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


:root {
  /* базовые цвета*/
  --basic-white:        #FFFFFF;
  /* оттенки черного*/
  --basic-black:        #000000;
  --basic-black1:       #32425C;
  --basic-black2:       #161D29;
  --basic-black3:       #293449;

  /* оттенки зеленого*/
  --basic-green:        #63A63E;
  --basic-green1:       #5FBB2D;
  --basic-green2:       #518534;
  --basic-green3:       #367315;
  --spetial-greenlight: #8ED78F;

  /* оттенки серого*/
  --basic-grey:         #A9A9A9;
  --basic-grey1:        #F9F5F0;
  --basic-grey2:        #F1F5F7;
  --basic-grey3:        #F3F7F9;
  --basic-grey4:        #F4F4F4;
  --basic-grey5:        #F2F6F8;
  --basic-grey6:        #F7F3EC;
  --basic-grey7:        #3D546F;
  --basic-grey8:        #405069;
  --basic-grey9:        #888888;
  --basic-grey10:       #E5E5E5;
  --basic-greylight:    #C5C5C5;
  --spetial-greylight:  #EAEAEA;

  /* оттенки красного*/
  --basic-red:          #EE3643;
  --basic-red-on-click: #BA2732;
  --basic-red-on-hover: #CA2C37;

  /* оттенки желтого*/
  --basic-yellow:       #FFC047;
  --spetial-yellow:     #FFBF47;
  --spetial-yellowlight:#FFD180;

  /* прочие*/
  --spetial-blue:       #3BBCE3;
  --spetial-lilac:      #DC91D8;

  /* цвет текста*/
  --basic-text-color:   var(--basic-black1);

  /* header */
  --upper-string:       var(--basic-black3);
  --nav-color:          var(--basic-black1);
  --nav-color-shadow:   var(--basic-black3);

  /* main */
  /* Фоны промо-блока */
  --promo-materials:    var(--spetial-yellow);
  --promo-instruments:  var(--spetial-blue);
  --promo-technics:     var(--spetial-lilac);
  --promo-discount:     var(--spetial-greenlight);
  --promo-delivery:     var(--basic-yellow);

   /* Фон Популярные Товары/Производители */
  --fon-for-traders:    var(--basic-grey1);
   /* Старая цена */
  --text-old-price:     var(--basic-grey);
  --card-border:        var(--spetial-greylight);

   /* Фон сервисы Доставка-Гарантия-Кредит */
  --background-service: var(--basic-grey2);
  --fon-service:        var(--basic-black1);

  /* О компании*/
  --background-about-us: var(--basic-grey9);
  /* Контакты */
  --background-contacts: var(--basic-grey9);

   /* Футер */
  --footer-nav-color:    var(--basic-black1);
  --footer-text-color:   var(--basic-grey2);
  --footer-adress-color: var(--basic-grey3);
  --footer-text-color1:  var(--spetial-yellowlight);
  --lower-string-color:  var(--basic-black3);

  /* Форма Write Us */
  --write-us-color:      var(--basic-grey);
  --write-us-grey:       var(--basic-greylight);
  --write-us-fon:        var(--basic-grey4);

   /* Каталог */
  --catalog-fon-perforators:  var(--basic-grey5);
  --catalog-fon-filters:      var(--basic-grey6);

  /* Цветовая динамика активных объектов
  по стайлгайду */
  --upper-string-click:  var(--basic-black2);

  /* "Оформить заказ */
  --order-rest:          var(--basic-green);
  --order-pointer:       var(--basic-green1);

   /* Купить - (Каталог) */
  --bue-rest:           var(--basic-green);
  --bue-rest-pointer:   var(--basic-green1);
  --bue-rest-click:     var(--basic-green2);
  --bue-rest-shadow:    var(--basic-green3);

   /* В закладки */
  --marker-rest:        var(--basic-green);
  --marker-pointer:     var(--basic-black1);

  --mark-done:    var(--basic-green);
  --mark-warning: var(--spetial-yellow);
  --mark-mistake: var(--basic-red-on-click);
}

/* Global */
body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum","Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text-color);
}

a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.main-header button,
.slider button,
.modal button,
.catalog button {
  color: inherit;
  border: none;
}

.header li,
.index li,
.catalog li,
.footer li {
  list-style-type: none;
}

/* Header */
.main-header {
/* вставил фиктивный цвет, чтобы отслеживать работу фона */
  background-color: var(--basic-grey3);
}

.upper-string {
  font-size:18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--upper-string);
}

.upper-word {
  position: relative;
  width: 136px;
  height: 42px;
}
.upper-word p,
.upper-word form {
  padding-left: 35px;
  padding-top: 9px;
}
.upper-word p::before,
.upper-word form::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.upper-word .bookmark::before {
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
}

.upper-word form::before {
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search.svg");
}

.not-empty {
  background-color: var(--basic-red);
}

.order {
  font-size: 18px;
  line-height: 24px;
  width: 150px;
  height: 42px;
  background-color: var(--order-rest);
}

.our-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  color: var(--basic-red);
}

.telephone {
  display: flex;
  align-items: center;
  position: relative;
  width: 270px;
  height: 45px;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.telephone a {
  padding-left: 74px;
}

.telephone a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 39px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
}

.user-navigation {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-navigation .my {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-text-color);
}

.site-navigation {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background: var(--nav-color);
  box-shadow: inset 0px -5px 0px var(--nav-color-shadow);
}

/* main */
.index,
.catalog {
  background-color: var(--basic-white);
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
}

.rectangle:hover {
  background-color: var(--basic-red-on-hover);
}

.rectangle:active {
  background-color: var(--basic-red-on-click);
}
.white-rectangle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 121px;
  height: 45px;
  background-color: var(--basic-white);
}
.white-rectangle .login {
  padding-right: 27px;
}

.white-rectangle .registr {
  padding-right: 24px;
}
.white-rectangle .login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .white-rectangle:last-of-type {
  width: 150px;
}

/* PROMO */
.promo h3,
.promo h4,
.promo p {
  color: var(--basic-white);
}

.promo h3 {
  font-size: 24px;
  line-height: 30px;
}
.feature {
  width: 300px;
}

.feature  .rectangle {
  width: 135px;
  background: var(--basic-white);
  opacity: 0.3;
}

.promo .materials {
  background: var(--promo-materials);
}

.promo .instruments {
  background: var(--promo-instruments);
}

.promo .technics {
  background: var(--promo-technics);
}

.promo .discount {
  background: var(--promo-discount);
}

.promo .delivery{
  background: var(--promo-delivery);
}

.new {
  position: relative;
  overflow: hidden;
}

.new::before {
  content: "NEW";
  position: absolute;
  right: -30px;
  top: 0;
  width: 100px;
  height: 30px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.slider,
.slide {
  position: relative;;
}

.slider .rectangle,
.slider .prev,
.slider .next {
  position: absolute;
  z-index: 10;
  border: none;
}

.slider .rectangle {
  left: 24px;
  top: 201px;
}

.slider .prev,
.slider .next {
  width: 22px;
  height: 40px;
  top: 122px;
  background: transparent;
}

.slider .prev {
  left: 24px;
}

.slider .next {
  left: 578px;
  transform: rotate(180deg);
}

.slider .prev:hover {
  transform: scale(1.1);
}

.slider .next:hover {
  transform: rotate(180deg) scale(1.1);
}

.slide p,
.slide h4 {
  position: absolute;
  left: 24px;
  background-color: transparent;
}
.slide h4 {
  top: 23px;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.slide p {
  top: 64px;
  font-size: 18px;
  line-height: 24px;
}


.slider .spots {
  position: absolute;
  top: 220px;
  left: 295px;
  width: 100%;
  height: 10px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.spot {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--basic-white);
  z-index: 10;
}

.spot.checked::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--basic-red);
}

/* Популярные товары/производители */
.popular h2 {
  text-transform: uppercase;
  background-color: : var(--fon-for-traders);
}

.product-cards {

}
.product-cards h3 {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: bold;
  color: var(--basic-black);
}

.product-cards h3 {
  font-size: 18px;
  line-height: 20px;
}

.product-cards p {
  font-size: 17px;
  line-height: 18px;
}

.product-cards .old-price {
  color: var(--text-old-price);
  text-decoration-line: line-through;
}

.card {
  position: relative;
  width: 220px;
  height: 318px;
  border: 1px solid var(--card-border);
}

.card h3,
.card p {
  margin: 0;
  text-align: center;
}

.card h3,
.card .old-price,
.card .price {
  position: absolute;
  width: 220px;
}

.card h3 {
  top: 178px;
}
.card .old-price {
  top: 228px;
}

.card .price {
  top: 259px;
  left: 45px;
  width: 141px;
}

.card:hover img {
  visibility: hidden;
}

.price {
  position: relative;
  width: 141px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: auto;
}
.price::before,
.price::after {
  content: "";
  position: absolute;
  right: 0;
  width: 19px;
  height: 19px;
}
.price::before{
  top: 0;
  background-image: linear-gradient(45deg, var(--basic-red) 50%, var(--basic-white) 50%);
}
.price::after {
  bottom: 0;
  background-image: linear-gradient(135deg, var(--basic-red) 50%, var(--basic-white) 50%);
}

.price:hover {
  /* Т.к. не ссылка убираем реакцию на hover */
  background-color: var(--basic-red);
}

/* Популярные производители */
.manufactories li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: 1px solid var(--spetial-greylight);
}

/* Сервисы */
.servicies {
  background-color: : var(--background-service);
}

.servicies h2,
.servicies p {
  color: var(--basic-black);
}

.servicies h2,
.servicies h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.servicies p {
  font-family: "PT Sans","Arial", sans-serif;
}

.servicies li {
  width: 240px;
  height: 61px;
  color: var(--basic-white);
  background-color: var(--fon-service);
  box-shadow:
    0px 1px 0px var(--basic-black3),
    inset 0px 1px 0px var(--basic-grey8);
}

.servicies li:first-child {
  color: var(--basic-text-color);
  background-color: var(--basic-white);
  box-shadow:
    0px 1px 0px var(--basic-white);
}

.servicies .service-button {
  padding-left: 22px;
  padding-top: 13.5px;
}

.servicies label {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
}

/* О компании */
.about-us {
  background-color: : var(--background-about-us);
}

.about-us h2,
.about-us p,
.about-us li {
  color: var(--basic-black);
}

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-us .rectangle {
  width: 220px;
}

.about-us li {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.about-us li::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 12px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

/* Контакты */
.contacts {
  background-color: : var(--background-contacts);
}

.contacts h2,
.contacts p {
  color: var(--basic-black);
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts .rectangle {
  width: 300px;
}

/* Футер Навигация */
.footer-navigation {
  font-size: 18px;
  line-height: 24px;
  color: var(--footer-text-color);
  background-color: var(--footer-nav-color);
}

.footer-navigation .adress {
  color: var(--footer-adress-color);
}

.footer-navigation .links {
  color: var(--footer-text-color1);
}

.under-footer{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--lower-string-color);
}

.under-footer .link-footer {
  color: var(--footer-text-color1);
}

/* Каталог-Хедер */
.white-fon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 299px;
  height: 45px;
  background-color: var(--basic-white);
}

.white-fon .user::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.white-fon .out::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 17px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.my-navigation {
  position: relative;
}

.my {
  padding-left: 31px;
}

 .my-navigation .my:first-child::before {
  content: "";
  position: absolute;
  left: 120px;
  top: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-text-color);
}

/* Каталог-main */
.catalog {
  font-family: "PT Sans","Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

.path {
  display: flex;
  background-color: var(--basic-white);
}

.path li {
  position: relative;
  margin-left: 40px;
}

.path a::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -20px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.path .home::before {
    content: "";
    position: absolute;
    top: 7px;
    width: 14px;
    height: 12px;
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}



.catalog h1 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-text-color);
  background-color: var(--catalog-fon-perforators);
  text-transform: uppercase;
}

.pages {
  width: 284px;
  margin-left: 0;
  margin-top: 48px;
  margin-bottom: 59px;
  padding: 0;
  white-space: nowrap;
  background-color: var(--basic-white);
}

.pages a {
  display: inline-block;
  min-width: 38px;
  height: 38px;
  padding: 0 10px;
  font-family: "PT Sans","Arial", sans-serif;
  line-height: 38px;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-black);
  text-decoration: none;
  border: 1px solid var(--basic-grey10);
  border-radius: 2px;
}

.pages .next {
  width: 140px;
}

.pages .current {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pages .disabled {
  opacity: 0.3;
}

.pages a:hover {
  border: 1px solid var(--basic-greylight);
}

.pages a:active {
  border: 1px solid var(--basic-red);
}

/* скрытые окна */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  background-color: var(--basic-white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Modal close */
.modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
content: "";
position: absolute;
top: 10px;
left: 2px;
width: 30px;
height: 4px;
border-radius: 2px;
background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* Write-Us */
.write-us {
  top: 120px;
  bottom: auto;
  width: 620px;
  height: 430px;
  padding: 46px 0 0 0;
  border-top: 7px solid var(--basic-red);
}

.write-us p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  color: var(--basic-black);
}

.write-us input,
.write-us textarea {
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--write-us-grey);
  border-radius: 2px;
  color: var(--write-us-color);
}
.write-us input {
  width: 220px;
  height: 38px;
  margin-bottom: 48px;
}

.write-us textarea {
  width: 460px;
  height: 114px;
}

.write-us input:hover,
.write-us textarea:hover,
.write-us input:focus,
.write-us textarea:focus {
  border-color: var(--basic-black);
}

.write-us-form {
  width: 100%;
  height: 100%;
  }

.write-us-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 460px;
  height: 235px;
  margin: 46px auto;
}

.write-us-wrapper label {
  position: absolute;
  transform: translateY(-36px);
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 620px;
  height: 112px;
  background-color: var(--write-us-fon);
}

.modal-footer .rectangle {
  width: 380px;
}

.find-us {
  width: 943px;
  height: 449px;
  top: 120px;
  bottom: auto;
  border-top: 7px solid var(--basic-red);
}

.find-us img {
  display: block;
}

.find-us iframe {
  border: none;
}

.modal-basket {
  top: 120px;
  bottom: auto;
  width: 620px;
  height: 282px;
  border-top: 7px solid var(--basic-red);
}

.modal-basket p {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 178px;
  margin-top: 73px;
  margin-bottom: 68px;
  color: var(--basic-black);
}

.modal-basket p::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -100px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.modal-basket .rectangle,
.modal-basket .white-rectangle  {
  width: 192px;
  margin-right: 10px;
}

.modal-basket .white-rectangle  {
  justify-content: center;
  text-transform: uppercase;
}

.modal-basket .white-rectangle:hover  {
  font-weight: bold;
}

/* Повышаем приоритет */
.modal-basket .rectangle,
button.rectangle,
.rectangle p {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}
