.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}


:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --spetial-yellow: #FFBF47;
  --spetial-blue: #3BBCE3;
  --spetial-lilac: #DC91D8;
  --spetial-greenlight: #8ED78F;
  --spetial-yellowlight: #FFD180;

  /*  В Figme рядом указано Linear 100% */
  --spetial-greylight: #EAEAEA;
  --mark-done: #5FBB2D;
  --mark-warning: #FFBF47;
  --mark-mistake: #BA2732;
}
